body {
   padding: 0;
   margin: 0;
   background-color: #EDEDED;
   display: grid;
   grid-template-columns: auto;
   grid-template-rows: 15% 70% 15%;
   font-family: 'Nunito Sans', sans-serif;
}
.header {
    background-color:#4C8F96;
}
.section {
    margin: 0 auto ;
    padding-top: 5%;
    width: 960px;
    display: flex;
    justify-content: space-between;
}
.h1 {
    color: white;
    background-color: #1B2130;
    width: 250px;
    height: 150px;
    font-size: 45pt;
    text-align: center;
    padding-top: 12px;
}
.h1 p {
    margin: 0;
    color: white;
    font-size: 25pt;
}
.section ul li {
    float: right;
    list-style: none;
    margin: 0 10px;
    background-color: #1B2130;
    border-radius: 10%;
    font-size: 22pt;
}
a {
    color: white;
    text-decoration: none;
}
.main {
    margin: 0 auto ;
    min-height: 800px;
    margin: 0 auto ;
    padding: 20px 0 50px;
    width: 960px;
    background-color: white;
}
.contents {
    margin: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer {
   background-color:  #4C8F96;
}
#social {
    float: right;
    font-size: 30px;
    padding: 10px;
    background-color: #387A82;
}
.footer p {
   color: white;
   text-align: center;
}
@media only screen and (max-width: 768px) {
    .section {
        width: 100%;
        padding: 20px 0 50px;
        width: 700px;
    }
    .main {
        margin: 0 auto ;
        min-height: 800px;
        width: 100%;
        padding: 20px 0 50px;
        width: 700px;
        background-color: white;
    }
   

}